<div class="row">
  <div class="col-lg-12 login">
    <h1>Insight</h1>
    <hr>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon rounded-corners">@</div>
            <%= form.email_field :email, autofocus: true, class: 'form-control rounded-corners' %>
          </div>
          <%= form.password_field :password, autocomplete: 'off', class: 'form-control rounded-corners' %>
        </div>
        <% if devise_mapping.rememberable? -%>
            <div class="checkbox"><%= form.check_box :remember_me %> <%= form.label :remember_me %></div>
        <% end -%>
        <%= form.submit 'Log in', class: 'btn btn-default' %>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>
</div>
